<div class='content'>
  <div class='top-nav-bar' fxLayoutAlign='space-between'>
    <div fxLayout='row' fxLayoutAlign='start center' routerLink="['/']" class=sitelogo>
      <img src='../assets/swap.png' class='sitelogo'>
      <h1>MyApp</h1>
    </div>

    <div class='search-bar' fxLayoutAlign=' center'>
      <form>
        <mat-form-field style='width:7vw;' color='primary'>
          <mat-select [(value)]="searchBy">
            <mat-option value="listing">Listing</mat-option>
            <mat-option value="category">Category</mat-option>
          </mat-select>
        </mat-form-field>
        |
        <mat-form-field style='width:40vw'>
          <mat-label>
            <mat-icon>search</mat-icon>
            <span>Search by {{searchBy}}</span>
          </mat-label>
          <input matInput type='text' name='search'>
        </mat-form-field>
      </form>
    </div>

    <div fxLayoutAlign='end center' fxLayoutGap='0.5vw'>
      <div *ngIf='showLogin' fxLayoutGap='0.5vw'>
        <button mat-raised-button (click)="openDialog('login')" color='primary'>Login</button>
        <button mat-raised-button (click)="openDialog('register')" color='primary'>Register</button>
      </div>

      <div *ngIf='!showLogin' fxLayoutGap='1vw' fxLayoutAlign='space-around center'>
        <button mat-raised-button [routerLink]="['list']" color='primary'>
          <span>Post listing</span>
        </button>

        <button mat-raised-button [routerLink]="['match']" color='primary'>
          <span>Match listing</span>
        </button>

        <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
          <span>Menu</span>
        </button>
        <img [src]='avatarUrl' class='avatar' *ngIf='avatarUrl'>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>User settings</span>
          </button>
  
          <button mat-menu-item (click)="logout()"> 
            <mat-icon>notifications_off</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </div>
    </div>

  </div>
  <div class='category-bar'>
    <div *ngFor='let m of menu'>
      <button mat-button color='warn' [routerLink]="['category', m.name]">{{m.name}}</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<div class='footer' fxLayout='row' fxLayoutAlign='space-around'>
  <div class='footer-div' fxLayout='column' fxLayoutAlign='start center'>
    <p><b>Contact us</b></p>
    <div fxLayoutAlign='center start' fxLayout='column'>
      <div fxLayoutAlign=' center'>
        <mat-icon>email</mat-icon><a href="mailto: abc@example.com">contact@swap.com</a><br>
      </div>
      <div fxLayoutAlign=' center'>
        <mat-icon>smartphone</mat-icon><span>+65 61234123</span><br>
      </div>
      <div fxLayoutAlign=' center'>
        <mat-icon>near_me</mat-icon><span>12 Walker Road 62 #01-28 S5123112</span>
      </div>
    </div>
  </div>

  <div class='footer-div' fxLayout='column' fxLayoutAlign='start center'>
    <p><b>Follow us</b></p>
    <mat-icon>people</mat-icon>
  </div>


  <div class='footer-div' fxLayout='column' fxLayoutAlign='start center'>
    <p><b>About us</b></p>
    <p>This is a sample on about us page.</p>
  </div>

  <div class='footer-div' fxLayout='column' fxLayoutAlign='start center'>
    <p><b>Feedback</b></p>
    <p>This is a sample on about us page.</p>
  </div>
</div>