<div class='top-nav-bar' fxLayout='row' fxLayoutAlign='space-between center'>
  <img src='../assets/swap.png' class='sitelogo'>
  <div class='search-bar' fxLayoutAlign=' center'>
    <mat-form-field style='width:40vw'>
      <input matInput placeholder='Search for item or category' type='text' name='search'>
    </mat-form-field>
    <mat-icon>search</mat-icon>
  </div>
  <div *ngIf='!authenticated'>
    <button mat-raised-button (click)="openDialog('login')">Login</button>
    <button mat-raised-button (click)="openDialog('register')">Register</button>
  </div>
</div>
<router-outlet></router-outlet>