.top-nav-bar{
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    height:10vh;
    background-color: white;
}

.sitelogo {
    height: 8vh;
}

.sitelogo:hover {
    cursor: pointer;
}

.search-bar {
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
}

.category-bar {
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    background-color:white;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
}

.avatar{
    height:8vh;
}

.content {
    min-height: calc(100vh - 10vh);
}

.footer {
    height:10vh;
    width:100%;
    box-shadow: 0px -5px 5px  rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-evenly;
}

.footer-div{
    width:25vw;
}

.nav-button {
    width:5vw;
}

.menuButton{
    font-size: 20px;
}