.top-nav-bar{
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    height:10vh;
    background-color: white;
}

.sitelogo {
    height: 8vh;
}

.sitelogo:hover {
    cursor: pointer;
}

.category-bar {
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    background-color:white;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
}

.avatar{
    height:80px;
    width:80px;
    border-radius: 50%;
    margin-top:20px;
    cursor: pointer;
}

.content {
    min-height: calc(100vh - 10vh);
}

.footer {
    height:10vh;
    width:100%;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
}

.footer-div{
    width:25vw;
}

.nav-button {
    width:5vw;
}

.menuButton{
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    margin:20px;
    font-weight: bold;
}

.submenuButton{
    font-size: 15px;
    padding: 10px 0 10px 0;
    margin:20px;
    font-weight: bold;
}

.menuButton:hover, .submenuButton:hover {
    border-bottom: 2px solid rebeccapurple;
    cursor: pointer;
}

.search-container {
    position: absolute;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 3;
    width:47vw;
    border-radius: 10px;
    padding:10px;
    border:1px double grey;
    cursor: pointer;
}

.sub-category-menu {
    position: absolute;
    padding: 20px;
    margin-top:50px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}