<div fxLayoutAlign='center center'>

    <form [formGroup]="haveForm" enctype="multipart/form-data" fxLayout='column' class="listingContainer">

        <div fxLayout='row' fxLayoutAlign="space-between">
            <h1>I have...</h1>
            <button mat-raised-button (click)="addItem(true)" color='accent'>Add item</button>
        </div>
        <mat-checkbox formControlName='exactMatch'>Exact match?</mat-checkbox>
        <div fxLayoutAlign='space-around center'>
            <button mat-raised-button color='warn' onclick="document.getElementById('fileToUpload').click()">
                Update images
            </button>
            <input id="fileToUpload" multiple type="file" formControlName='listingImages' (change)="testImage()"
             accept="image/*" style="display:none;" #imageFile>
            <div *ngIf='files'>
                <div *ngFor='let f of files'>
                    <span>{{f.name}} - </span>
                    <span>{{f.size/1000}}kb</span>
                </div>
            </div>
        </div>
        <div formArrayName="haveItem">

            <div *ngFor='let item of haveItem.controls;let i = index;' [formGroup]='item' fxLayout='column'
                class='item'>
                <div fxLayout='row' fxLayoutAlign="space-between center">
                    <span>Item {{i+1}} </span>
                    <span (click)="removeItem(i,true)" fxLayoutAlign='center center' style='cursor: pointer;'>
                        <mat-icon>delete</mat-icon>Delete
                    </span>
                </div>

                <mat-form-field class='formField' appearance="outline">
                    <input matInput placeholder='Listing title' type='text' formControlName='listingTitle'>
                </mat-form-field>

                <mat-form-field class='formField' appearance="outline">
                    <textarea matInput placeholder='Listing description' formControlName='listingDescription'
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>

                <mat-form-field class='formField' appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName='category' #cat>
                        <mat-option value='cash'>Cash</mat-option>
                        <mat-option *ngFor="let c of categories" [value]="c.name">
                            {{c.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field class='formField' *ngIf='getSubCategory(cat)' appearance="outline">
                    <mat-label>Subcategory</mat-label>
                    <mat-select formControlName='listingSubCat'>
                        <mat-option *ngFor="let s of getSubCategory(cat)" [value]="s">
                            {{s}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="cat.value == 'cash'" appearance="outline">
                    <input type='number' matInput placeholder="$" min='1' formControlName='listingSubCat'>
                </mat-form-field>

            </div>
        </div>
    </form>

    <img src='./assets/arrow.png' class='arrow'>
    <div class="listingContainer" fxLayout='column' class="listingContainer">
        <form [formGroup]='wantForm'>
            <div fxLayout='row' fxLayoutAlign="space-between">
                <h1 *ngIf='wantItem.length'>I want...</h1>
                <div *ngIf='wantItem.length == 0' fxLayout='row'>
                    <h1>I haven't decide yet</h1>
                </div>
                <button mat-raised-button (click)="addItem()" color='accent'>Add item</button>
            </div>

            <div *ngIf="wantItem.length > 0">
                <div formArrayName="wantItem">
                    <div *ngFor='let item of wantItem.controls;let t = index;' [formGroup]='item' fxLayout='column'
                        class='item'>
                        <div fxLayout='row' fxLayoutAlign="space-between center">
                            <span>Item {{t+1}} </span>
                            <span (click)="removeItem(t)" fxLayoutAlign='center center' style='cursor: pointer;'>
                                <mat-icon>delete</mat-icon>Delete
                            </span>
                        </div>

                        <mat-form-field class='formField' appearance="outline">
                            <input matInput placeholder='Listing title' type='text' formControlName='listingTitle'>
                        </mat-form-field>

                        <mat-form-field class='formField' appearance="outline">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName='category' #cat>
                                <mat-option value='cash'>Cash</mat-option>
                                <mat-option *ngFor="let c of categories" [value]="c.name">
                                    {{c.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class='formField' *ngIf='getSubCategory(cat)' appearance="outline">
                            <mat-label>Subcategory</mat-label>
                            <mat-select formControlName='listingSubCat'>
                                <mat-option *ngFor="let s of getSubCategory(cat)" [value]="s">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="cat.value == 'cash'" appearance="outline">
                            <input type='number' matInput placeholder="$" formControlName='listingSubCat'>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>

        <div fxLayoutGap='2vw' fxLayoutAlign='center center' *ngIf='haveItem.length'>
            <button mat-raised-button color='primary' style='width:40%' color='warn' [disabled]="haveForm.invalid"
                type="submit"  (click)="processListing()">Undecided, offer me.</button>
            <button mat-raised-button color='primary' style='width:40%'
                [disabled]="haveForm.invalid || wantForm.invalid || !wantItem.length" color='warn'
                (click)="processListing(false)" *ngIf='wantItem.length'>List
                it!</button>
        </div>
    </div>
</div>