<div fxLayoutAlign='center center'>

    <form [formGroup]="haveForm" enctype="multipart/form-data" fxLayout='column' class="listingContainer">

        <div fxLayout='row' fxLayoutAlign="space-between">
            <h1>I have...</h1>
            <button mat-raised-button (click)="addItem(true)" color='accent'>Add item</button>
        </div>
        <mat-checkbox formControlName='exactMatch'>Exact match?</mat-checkbox>

        <div formArrayName="haveItem">
            <div *ngFor='let item of haveItem.controls;let i = index;' [formGroup]='item' fxLayout='column'
                class='item'>
                <div fxLayout='row' fxLayoutAlign="space-between center">
                    <span>Item {{i+1}} </span>
                    <span (click)="removeItem(i,true)" fxLayoutAlign='center center'>
                        <mat-icon>delete</mat-icon>Delete
                    </span>
                </div>
                <mat-form-field class='formField'>
                    <input matInput placeholder='Listing title' type='text' formControlName='listingTitle'>
                </mat-form-field>

                <mat-form-field class='formField'>
                    <textarea matInput placeholder='Listing description' formControlName='listingDescription'
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>

                <mat-form-field class='formField'>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName='category' #cat>
                        <mat-option *ngFor="let c of categories" [value]="c.name">
                            {{c.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field class='formField' *ngIf='getSubCategory(cat)'>
                    <mat-label>Subcategory</mat-label>
                    <mat-select formControlName='listingSubCat'>
                        <mat-option *ngFor="let s of getSubCategory(cat)" [value]="s">
                            {{s}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
    </form>

    <img src='./assets/arrow.png' class='arrow'>
    <div class="listingContainer" fxLayout='column' class="listingContainer">
        <form [formGroup]='wantForm'>
            <div fxLayout='row' fxLayoutAlign="space-between">
                <h1>I want...</h1>
                <button mat-raised-button (click)="addItem()" color='accent'>Add item</button>
            </div>
            <div *ngIf="wantItem.length > 0">
                <div formArrayName="wantItem">
                    <div *ngFor='let item of wantItem.controls;let t = index;' [formGroup]='item' fxLayout='column'
                        class='item'>
                        <div fxLayout='row' fxLayoutAlign="space-between center">
                            <span>Item {{t+1}} </span>
                            <span (click)="removeItem(t)" fxLayoutAlign='center center'>
                                <mat-icon>delete</mat-icon>Delete
                            </span>
                        </div>

                        <mat-form-field class='formField'>
                            <input matInput placeholder='Listing title' type='text' formControlName='listingTitle'>
                        </mat-form-field>

                        <mat-form-field class='formField'>
                            <mat-label>Category</mat-label>
                            <mat-select formControlName='category' #cat>
                                <mat-option *ngFor="let c of categories" [value]="c.name">
                                    {{c.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class='formField' *ngIf='getSubCategory(cat)'>
                            <mat-label>Subcategory</mat-label>
                            <mat-select formControlName='listingSubCat'>
                                <mat-option *ngFor="let s of getSubCategory(cat)" [value]="s">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>

        <div fxLayoutGap='2vw' fxLayoutAlign='center center' *ngIf='haveItem.length'>
            <button mat-raised-button color='primary' style='width:40%' [disabled]="haveForm.invalid" type="submit"
                (click)="processListing()">Undecided, offer me.</button>
            <button mat-raised-button color='primary' style='width:40%'
                [disabled]="haveForm.invalid || wantForm.invalid || !wantItem.length " (click)="processListing(true)"
                *ngIf='wantItem.length'>List
                it!</button>
        </div>
    </div>
</div>