<h2 mat-dialog-title fxLayoutAlign='center'>Login page</h2>
<mat-dialog-content>
    <div class='loginForm'>
        <form [formGroup]='loginForm'>
            <mat-form-field appearance="outline">
                <input matInput type='email' placeholder="Email" name="email" formControlName='email'>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <input matInput type='password' placeholder="Password" name="password" formControlName='password'>
            </mat-form-field>


            <div mat-dialog-actions fxLayoutAlign='space-around'>
                <button color='warn' mat-raised-button mat-dialog-close>Cancel</button>
                <button color='primary' mat-raised-button (click)="login()" [disabled]='loginForm.invalid'>Login</button>
            </div>

        </form>
    </div>

</mat-dialog-content>