<div class='listingContainer'>
    <div fxLayout='row' fxLayoutAlign='space-between center'>
        <h1 *ngIf='userListings'>Your listings</h1>
        <div fxLayoutGap='1vw' fxLayoutAlign=' center' *ngIf='pageCount.length > 1'>
            <mat-icon (click)='left()'>keyboard_arrow_left</mat-icon>
            <button mat-mini-fab *ngFor='let p of pageCount;let i=index' (click)="pagination(p)">{{p+1}}</button>
            <mat-icon (click)='right()'>keyboard_arrow_right</mat-icon>
        </div>
    </div>
    <div *ngFor='let listing of userListings' class='item' fxLayout='row' fxLayoutGap='1vw'>

        <div style='width:40%' *ngIf='listing.listingImages.length > 0'>
            <ng-image-slider *ngIf='listing.listingImages.length > 0' [images]="listing.listingImages" [autoSlide]='3'
                [infinite]='true' [slideImage]='1' [imageSize]='{width: 450, height: 250, space: 5}'
                [animationSpeed]='2' #nav>
            </ng-image-slider>
        </div>


        <div style='width:30%'>
            <h2>Have Item</h2>
            <div *ngFor='let haveItem of listing.haveItem; let i=index' fxLayout='column'>
                <h3>{{i+1}}. {{haveItem.listingTitle}}</h3>
                <div fxLayoutAlign=' center'>
                    <span class='category'>Category: {{haveItem.category}} ></span>
                    <span class='category'>{{haveItem.listingSubCat}}</span>
                </div>
                <p><i>{{haveItem.listingDescription}}</i></p>
            </div>
        </div>

        <div style='width:30%'>
            <h2>Want Item</h2>
            <div *ngFor='let wantItem of listing.wantItem; let i=index' fxLayout='column'>
                <h3>{{i+1}}. {{wantItem.listingTitle}}</h3>
                <div fxLayoutAlign=' center'>
                    <span class='category'>Category: {{wantItem.category}} ></span>
                    <span class='category'>{{wantItem.listingSubCat}}</span>
                </div>
                <p><i>{{wantItem.listingDescription}}</i></p>
            </div>
        </div>

        <div style='width:20%;' fxLayout='column' fxLayoutAlign='space-between'>
            <div>
                <div fxLayout='row' fxLayoutAlign='space-between center'>
                    <span>No particular item in mind?</span>
                    <div *ngIf='listing.openToAll'>
                        <mat-icon>check</mat-icon>
                    </div>
                    <div *ngIf='!listing.openToAll'>
                        <mat-icon>close</mat-icon>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutAlign='space-between center'>
                    <span>Exact match to listing title?</span>
                    <div *ngIf='listing.exactMatch'>
                        <mat-icon>check</mat-icon>
                    </div>
                    <div *ngIf='!listing.exactMatch'>
                        <mat-icon>close</mat-icon>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutAlign='space-between center'>
                    <span>Listed on:</span>
                    <span>{{listing.listDate}}</span>
                </div>
            </div>

            <div fxLayout='row' fxLayoutAlign='end'>
                <button mat-raised-button color='warn' *ngIf='listing.wantItem' class='button'
                    (click)='match(listing)'>Match!</button>
                <button mat-icon-button color='primary' [matMenuTriggerFor]=" menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>build</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)='delete(listing)'>
                        <mat-icon>delete_forever</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div *ngIf='!userListings' fxLayoutGap='1vw'>
        <h1>No listing available.</h1>
        <button mat-raised-button [routerLink]="['/list']" color='primary'>
            <span>Post listing</span>
        </button>
        <button mat-raised-button [routerLink]="['/']" color='warn'>Back</button>
    </div>
</div>