<h2 mat-dialog-title fxLayoutAlign='center'>Registration page</h2>

<mat-dialog-content>
    <div class='registerForm'>
        <form [formGroup]='registerForm'>

            <mat-form-field>
                <input matInput type='email' placeholder="Email" name="email" formControlName='email'>
            </mat-form-field>

            <br>
            <mat-form-field>
                <input matInput type='text' placeholder="Name" name="name" formControlName='name'>
            </mat-form-field>

            <br>
            <mat-form-field>
                <input matInput type='password' placeholder="Password" name="password" formControlName='password'>
            </mat-form-field>

            <div mat-dialog-actions fxLayoutAlign='space-around'>
                <button color='warn' mat-raised-button mat-dialog-close>Cancel</button>
                <button color='primary' mat-raised-button (click)="register()"
                    [disabled]='registerForm.invalid'>Register</button>
            </div>
        </form>
    </div>

</mat-dialog-content>