.listingContainer {
    /* border-radius: 8px; */
    padding: 20px;
    width:100%;
    min-height: calc(100vh - 10vh);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap:wrap;
 }

.card-view {
    display: inline-block;
    margin:20px;
    width:25vw;
    /* height:500px; */
    /* min-height:60vh; */
    flex-grow: 1;
    /* background-color:rgba(255, 120, 120, 0.2); */
    /* background-color: #e6f2ff; */
    /* background-color:rgba(51, 153, 255,0.9) */
}

.test {
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width:95%;
    min-height: calc(100vh - 10vh);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap:wrap;
}

.top-bar {
    width:100%;
}