<div fxLayoutAlign='center'>
    <div class='listingContainer' fxLayout='row' fxLayoutAlign='space-around'>
        <div fxLayout='column' fxLayoutGap='2vh'>
            <img src={{user.avatar}} class='avatar'>
            <div fxLayoutAlign='space-around center'>
                <button mat-raised-button  color='warn' onclick="document.getElementById('fileToUpload').click()" class='asd'>
                    Update avatar
                </button>
                <input id="fileToUpload" type="file" name='newAvatar' accept="image/*" (change)="updateAvatar()" style="display:none;"
                    ngModel #imageFile>
            </div>
        </div>


        <div fxLayoutAlign='center ' fxLayout='column' fxLayoutGap='3vh'>
            <h1>Hi, {{user.name}}</h1>
            <h2>Update particulars</h2>
            <form #form='ngForm' (ngSubmit)='processForm(form.value)' enctype="multipart/form-data">

                <mat-form-field appearance="outline" fxLayoutAlign='center'>
                    <mat-label>Your name</mat-label>
                    <input matInput placeholder={{user.name}} type='text' name='name' ngModel>
                </mat-form-field>
        
                <div fxLayoutAlign='end'>
                    <button mat-raised-button color='warn' type='submit' [disabled]='form.invalid'>Update</button>
                </div>
            </form>
        </div>

    </div>
</div>